<html>
<body>
<img src="/src/assets/images/15.jpg">
<form>

      <div class="container" class="col-xs-12">
        <h1>Login</h1>
        <br>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
          <input id="email" type="mail" class="form-control"  required
                  [(ngModel)]="email" name="email" placeholder="Email">
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input id="password" type="password" 
                class="form-control" [(ngModel)]="password" required
                name="password" placeholder="Password">
        </div>
        
        <div class="checkbox">
            <label ><input type="checkbox">Remember me</label>
            <a href="#" routerLink="/signup" style="float:right;">Sign Up</a>
        
        </div>
        <label id="login" class="form-control" (click)="storeValue()" routerLink="/home">LOGIN</label>
        
        <br>
      </div> 
</form>

</body>
</html>
 

