<html>
<body>
<img src="/src/assets/images/13.jpg">
<form>

      <div class="container" class="col-xs-12">
        <h1>SignUp</h1>
        <br>
        <p class="w3-large"><i class="glyphicon glyphicon-user"></i><b>  UserName :</b></p>
        <input id="user" type="text" class="form-control" [(ngModel)]="user"
                name="email" placeholder="Username">
        <br>
        <p class="w3-large"><i class="glyphicon glyphicon-lock"></i><b>   Password :</b></p>
        <input id="password" type="password" class="form-control" [(ngModel)]="password"
               name="password" placeholder="Password">
        <br>        
        <p class="w3-large"><i class="glyphicon glyphicon-envelope"></i><b>  Email :</b></p>
        <input id="email" type="mail" class="form-control" [(ngModel)]="email"
               name="email" placeholder="Email">
        <br>
        <p class="w3-large"><i class="glyphicon glyphicon-phone-alt"></i><b>  Contact No. :</b></p>
        <input id="contact" type="text" class="form-control" name="contct"
               [(ngModel)]="contact" placeholder="Phone Number">
        
        <div class="checkbox">
            <label ><input type="checkbox"  (click)="storeValue()" [(ngModel)]="checkbox" name="checkbox">Remember me</label>
            <a href="#" routerLink="" style="float:right;">Login</a>
        </div>
        
         <label id="signup" class="form-control"  routerLink="">SIGN UP</label>
        
        <br>
      </div> 
</form>

</body>
</html>
 

