<!--<p [storeemail]="email"></p>-->
<div>
    <a href="#" routerLink="" class="w3-large" style="float: right; background-color: black;
                color: white;padding: 10px;">
      <i class="glyphicon glyphicon-user"></i>    Sign Out
    </a>
    <div class="sidebar">
        <a href="#" routerLink="/home" class="w3-large"><i class="glyphicon glyphicon-home"></i>    Biz4Intellia</a>
        <a href="#" routerLink="/home"> Services</a>
        <a href="#" routerLink="/home">Page 3</a>
        <a href="#" routerLink="/home"> Contact</a>
      </div>
    
        
</div>
  
    
        